.inline-links{ font-family: 'IBM Plex Mono' monospace;}

a { color:#4b0082;
    text-decoration: none;
    text-shadow: 2px 2px whitesmoke;
   
}

    
a:hover { text-decoration: underline}
    
nav {display: flex;
      justify-content: space-between;
      padding: 15px
    }
    
    ul.inline-links{ 
      display: flex;
      align-items: center;
      margin:0;
      padding:0;

      
    }

    ul.inline-links li{ list-style: none;
    padding: 10px;}


h1{ color: #ff7300;  
    text-shadow: 100px gray;
    font-stretch: ultra-expanded;
    font-size: 500%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 1px gray;

} 

h2{ 
font-size: large; 
font-weight: lighter;
color:#ff7300;
text-align: center;
}





p{
    font-weight: bolder;
    font-variant:normal;
    font-family: 'IBM Plex Mono' 100;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    background-color: gray;
    opacity: 0.8;
    


}


body {
    padding: 10px;
  background-image: url('/Users/Nadine/Desktop/CFG 2/gallery-images/bgimage2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  backface-visibility:visible;

}






.item { border: solid gray;
width: 45%; 
height: 100%;
line-height:0%; }






.gallery{ display: flex;
    justify-content: center;
    align-items: center;

    
   


}


.item:hover {
    transform: scale(1.1);
    transition: ease .5s;
}
​

.item:hover {
    transform: scale(1.1);
}

.item:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
}

img { width: 100%;
    
}

img { width: 100%;
    
}


.overlay {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #707374;
  }
  
.container:hover .overlay {
    opacity:0.8;
  }
  
.text { position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}





button { border-radius: 12px;
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    margin: 8px 6px;
    font-size: 36px;
    color: indigo;
    background-color:rgb(180, 178, 178);
    

}


.divider{ width: 10px; 
height:auto;
margin: 5%;
margin-left: 15%;
margin-right: 15%;
margin-top: 2%;
margin-bottom: 10%;
display: inline-block;
justify-content: space-around;
justify-content: space-between;
}














